.idea/
node_modules/
PlaneAlert/build/
chart/values-facha.yaml
chart/templates/planealert/fr24-track-source.configmap.yml
node_modules
build/*.js
build/*/*.js
build/*/*/*.js
data/*.csv
data/*.json
build/
config/main.yaml
config/aircraft/*.yaml
!config/aircraft/*.disabled
