[submodule "PlaneAlertAPI"]
	path = PlaneAlertAPI
	url = https://github.com/nfacha/PlaneAlert.git
[submodule "PlaneAlert/src/tracksources/flight-radar-24"]
	url = git@github.com:nfacha/PlaneAlert-FR24Module.git
