{
  "trackSource": "OPSN",
  "VRS_BASE": "",
  "VRS_USERNAME": "",
  "VRS_PASSWORD": "",
  "takeoffAltitudeThreshold": 10000,
  "landingAltitudeThreshold": 10000,
  "landingSignalLostThreshold": 5,
  "landingNearestSuitableAirportDistance": 5,
  "databaseHost": "postgres",
  "databaseName": "planealert",
  "databaseUsername": "postgres",
  "databasePassword": "123456789",
  "sentryDSN": "",
  "twitterAppToken": "",
  "twitterAppSecret": "",
  "aeroDataBoxAPIKey": "",
}
